<div class="form-group">
  <label for="email">email</label>
  <input required type="text" name="email" id="email" class="form-control">
</div>
<button type="submit" class="btn btn-danger">Get</button>