<div class="form-group">
  <label for="name">Tweet id</label>
  <input type="text" name="tweetid" id="tweetid" class="form-control">
  <label for="email">Text</label>
  <input type="text" name="text" id="text" class="form-control">
  <label for="password">User name</label>
  <input type="text" name="username" id="username" class="form-control">
</div>
<button type="submit" class="btn btn-info">Update Tweet</button>