<div class="form-group">
  <label for="id">user id</label>
  <input required type="text" name="userid" id="userid" class="form-control">
</div>
<button type="submit" class="btn btn-primary">Get Tweet</button>