<div class="form-group">
  <label for="userid">user id</label>
  <input required type="text" name="userid" id="userid" class="form-control">
  <label for="text">text</label>
  <input required type="text" name="text" id="text" class="form-control">
  <label for="password">user name</label>
  <input required type="text" name="name" id="name" class="form-control">
</div>
<button type="submit" class="btn btn-primary">Create Tweet</button>